<%- await include('front-end/head.ejs', { title: 'Detailansicht' }) %>
<%- await include('front-end/header.ejs') %>
<body>
    <% for (let i = 0; i < itemList.length; i++) {  %>
    <h1 class="pname"><%= itemList[i].productName %></h1>
        <img src="<%= itemList[i].imageName %>" alt="<%= itemList[i].imageName %>">
        <p id="pname"><%= itemList[i].productName %></p>
            <% } %>
</body>
<%- await include('front-end/footer.ejs') %>